<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>
        <string>com.plexapp.agents.TextFileMetadataAgent</string>
        <key>PlexAgentAttributionText</key>
        <string>An agent that populates metadata from a textfile.</string>
        <key>PlexFrameworkVersion</key>
        <string>2</string>
        <key>PlexPluginClass</key>
        <string>Agent</string>
        <key>PlexPluginCodePolicy</key>
	    <!-- this allows channels to access some python methods which are otherwise blocked, as well as import external code libraries, and interact with the PMS HTTP API -->     
	    <string>Elevated</string>
</dict>
</plist>


